.umedia-entry {
    display: block;
    margin-top: 5px;
    padding: 10px;
    background: #fff;
    color: #000;
}

.p-in-reply-to .umedia-entry {
    background-color: #f5f5f5;
}

.umedia-entry.highlighted {
    background: #ffff99;
}

#site-main {
    padding-top: 10px;
}

#site-main .coect-breadcrumbs {
    margin-top: -10px;
}


.umedia-entry-name {
    display: block;
    padding: 0 10px;
    color: #000;
}

.entry-meta, .entry-actions {
    color: #555;
    margin-bottom: 5px;
}

.umedia-entries-header {
    margin-bottom: 15px;
}

.umedia-entry-editor.expanded {
    margin-bottom: 60px;
}

.umedia-compacted {
    height: 52px;
}

.umedia-comments-title {
    margin-bottom: 0;
}



/*
.umedia-profile {
    h1 {
        margin-top: 0;
    }
}
*/

.umedia-entry-details {
    .login-required {
        font-weight: bold;
        padding: 15px 0;
    }
    
    .coect-breadcrumbs {
        margin-bottom: 5px;
    }
}

ol.breadcrumb {
    margin-bottom: 10px;
}

.top-header {
    margin-top: 0;
}

.e-content {
    margin-top: 4px;
}



.entry-actions span {
    margin-right: 1em;
}

