.umedia-entry {
    display: block;
    margin-top: 5px;
    padding: 10px;
    background-color: @content_bg_color;
    color: @content_color;
}

.umedia-profile {
    background-color: @content_bg_color;
    padding: 10px;
}


.p-in-reply-to .umedia-entry {
    background-color: #f5f5f5;
}

.umedia-entry.highlighted {
    background: #ffff99;
}

.page-content {
    padding-top: 10px;
}

.page-content .coect-breadcrumbs {
    margin-top: -10px;
}


.umedia-entry-name {
    display: block;
    padding: 0 10px;
    color: #000;
}

.entry-tags {
    margin-top: 10px;
    margin-bottom: 4px;
}

.entry-header a.permalink {
    color: @meta_color;
}


.entry-footer a {
    color: @meta_color;
}

.entry-tags a {
    color: @color;
    background: @bg_color;
    padding: 2px 4px;
    letter-spacing: 0.05em;
}


.umedia-entries-header {
    margin-bottom: 15px;
}

.umedia-entry-editor.expanded {
    margin-bottom: 60px;
}

.umedia-compacted {
    height: 52px;
}

.umedia-comments-title {
    margin-bottom: 0;
}


/*
.umedia-profile {
    h1 {
        margin-top: 0;
    }
}
*/

.umedia-entry-details {
    .login-required {
        font-weight: bold;
        padding: 15px 0;
    }
    
    .coect-breadcrumbs {
        margin-bottom: 5px;
    }
}

ol.breadcrumb {
    margin-bottom: 10px;
}

.top-header {
    margin-top: 0;
}

.e-content {
    margin-top: 4px;
}



@tab_bg_color: #f5f5f5;

.umedia-entry {
    .restricted { color: grey }
    .saved, .liked { color: #ff0000 }
    h2 { margin-top: 0 }
    
    blockquote ~ .coect-reply-to {
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .entry-footer {
        margin-top: 6px;
    }

    .entry-header {
        margin-bottom: 4px;
    }

    a.p-name {
        color: @color;
    }

    .read-more {
        a {
            color: @meta_color;
        }
        margin-bottom: 15px;
    }

    .entry-footer > span {
        padding: 10px;
        display: inline-block;
    }

    .like-list, .active-tab {
        background-color: @bg_color;
    }
    
    .like-list ul {
        margin-bottom: 0;
    }

    .like-list {
        padding: 10px;
    }

}
