.umedia-entry {
    display: block;
    margin-top: 5px;
    padding: 10px;
    background: #fff;
    color: #000;


}

.umedia-entry.highlighted {
    background: #ffff99;
}

#site-main {
    padding-top: 5px;
}

#site-main .umedia-entry-details,  #site-main .umedia-channel-detail {
    margin-top: -5px;
}

.umedia-entry-name {
    display: block;
    padding: 0 10px;
    color: #000;
}

.umedia-meta, .umedia-actions {
    color: #555;
}

.umedia-entries-header {
    margin-bottom: 15px;
}

.umedia-entry-editor.expanded {
    margin-bottom: 60px;
}

.umedia-compacted {
    height: 52px;
}

.umedia-comments-title {
    margin-bottom: 0;
}

/*
.umedia-profile {
    h1 {
        margin-top: 0;
    }
}
*/
